/* Your Code Here! */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary: #396dff;
  --grey: #f7f7f7;
  --white: #fff;

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
img {
  border-radius: 50px;
}
.u-textCenter {
  text-align: center;
}
.navTitle {
  color: var(--white);
  font-size: 20px;
  margin: 0;
  font-weight: normal;
}

.navContainer {
  padding: var(--s) var(--m);
  background-color: var(--primary);
}
