body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: gray;
}

.game-board {
  background-color: black;
  width: 65vmin;
  height: 65vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
  /* border: 5pt solid white; */
}

.end-game-board {
  background-color: black;
  width: 65vmin;
  height: 65vmin;
  color: white;
  /* text-align: center; */
  align-items: center;
  font-size: x-large;
  justify-content: center;
  display: flex;
}

.snake {
  background-color: lime;
  border: 0.25vmin solid black;
}

.food {
  background-color: red;
  border: 0.25vmin solid gray;
  border-radius: 50%;
}

/* .end-text {
  color: white;
  text-align: center;
  margin: auto;
  display: block;
} */

.botton {
  margin: 1vmin auto;
  width: auto;
  height: auto;
  color: #000;
  background-color: #949494;
  border: 0.2vmin solid black;
  border-radius: 2pt;
  font-size: 2vmin;
  /* background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
  background-image: linear-gradient(top,#dd4b39,#d14836); */
  cursor: pointer;
  /* -webkit-tap-highlight-color: transparent; */
}

.control-board {
  /* background-color: white; */
  width: 25vmin;
  height: 25vmin;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.control-botton {
  color: #000;
  background-color: #949494;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-size: xx-large;
  cursor: pointer;
}
